<h1>Lets create a recipe!!!</h1>

<form action="/create" method='post'>
  <label for="name">Name</label>
  <%# Vamos pegar o atributo name no app.rb %>
  <input type="text" name="name">

  <label for="description">Description</label>
  <%# Vamos pegar o atributo description no app.rb %>
  <input type="text" name="description">

  <input type="submit" value="Create">
</form>